*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100vh;
    background: color #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #773657;
}
.container .mary{
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #773657;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
}

.mary nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}

.mary nav .logo{
    color: #1d0d1d;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif
}

.mary nav .nav-links a{
    color: #242424;
    margin-left: 40px;
    text-transform: capitalize;
    transition: 0.3s;
    font-family: sans-serif
}
.mary nav .nav-links a:hover,
.mary nav .nav-links a:focus
.mary nav .nav-links a:active{
    color: #801f82;
}
.mary .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.mary .content .div-text{
    width: 40%;
}

.mary .content .div-text h1{
    margin-bottom: 20px;
    font-size: 50px;
    color: #fff;
    font-family:'Times New Roman', Times, serif ;
}
.mary .content .div-text h4{

    color: #080708;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.mary .content .div-text p{
    color: #f5eeee;
    margin-bottom: 50px;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
}
.mary .content .div-text .btn{
    padding: 15px 20px;
    background-color: #801f82;
    border: 2px solid #801f82;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;

}
.mary .content .div-text .btn:hover{
    color: #801f82;
    transition: 1.0s;
    background-color:#fff;
}

.soc-link{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.soc-link a i{
    font-size: 25px;
    cursor: pointer;
    color: #431b44;
    margin-bottom: 20px;
    transition: 0.6s;
}

.soc-link a i:hover{
    color: #ec67ac;
}

.mary .content .div-img{
    width: 30%;
}
.mary .content .div-img img{
    width: 100%;
}
